* {
  margin: 0;
  padding: 0;
}
body {
  background: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  text-align: center;
  color: white;
}
header {
  width: 100%;
}
header img {
  padding-top: 10px;
  padding-bottom: 10px;
}
nav {
  background-color: rgba(128, 128, 128, 0.685);
  padding-top: 15px;
  padding-bottom: 15px;
}
nav li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  margin: 10px 10px;
  font-weight: 400;
}
nav li a {
  text-decoration: none;
  color: white;
}
/* main {
  background-color: red;
  width: 100%;
} */
.slogan p {
  font-size: 36px;
  font-weight: 900;
  padding-top: 60px;
  padding-bottom: 55px;
  margin-left: 20px;
  margin-right: 20px;
}
.services {
  width: 300px;
  padding: 30px 10px 30px 10px;
  margin: auto;
  /* display: flex; */
}
.services h1 {
  text-transform: uppercase;
}
.services p {
  padding: 10px 20px 25px 20px;
}
footer {
  background-color: rgba(62, 65, 57, 0.952);
  /* height: 40px; */
  /* color: white; */
  font-family: georgia, serif;
  font-size: 6px;
  width: 100%;
}
footer p {
  padding-top: 25px;
  padding-bottom: 25px;
}
